* {
  font-family: sans-serif;
}

body {
  overflow: hidden;
  background: url('images/bg.png');

}

ul {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 379px;
}

.markDeadline {
  border-bottom: 5px solid red;

}

.container {
  style: "margin-bottom: 10px";
  visibility: "hidden";
}

.selectDate {
  position: absolute;
  width: 200px;
  left: 75px;
  bottom: 8px;
  z-index: 9999999;
}

/* Style the list items */
ul li {

  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #F8EAEA;
  background-color: #F8EAEA;
  font-size: 14px;
  transition: 0.2s;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #b1bebe;
  height: 10px;
}

#drag-list {
  color: rgba(187, 138, 187, 0.7);
  background: #F8EAEA;
  /* for browsers that don't understand the following rgba rule */
  background-color: #ddd;
}


/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
  background-color: rgba(187, 138, 187, 0.7);

}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
  text-transform: uppercase;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.Heading {
  text-align: left;
  padding-left: 33px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #7e524f55;
  color: rgb(214, 222, 191);
}

/* Style the header */
.header {
  /* background-color: white; */
  background: url('images/Gameboy.webp');
  text-align: center;
  width: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 11px 15px 20px -13px rgb(0 0 0 / 93%);
  -webkit-box-shadow: 11px 15px 20px -13px rgb(0 0 0 / 93%);
  -moz-box-shadow: 11px 15px 20px -13px rgba(0, 0, 0, 0.93);
}

.NbaImage {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.calendarIcon {
  position: absolute;
  left: 46px;
  /* z-index: 244232; */
  width: 19px;
  border: 0;
  background: #fdfb89;
}

.rotateImage {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}


.popup {
  position: absolute;
  left: 52px;
  background-color: #ee7979;
  padding: 6px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  z-index: 9999;
}

.rotate {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the "Add" button */
#addBtn {
  width: 8%;
  background: #6b6ef6;
  color: white;
  cursor: pointer;
  border-radius: 0;
  border: none;
  height: 23px;
  font-weight: 900;
}


#addBtn:hover {
  background-color: #2d2ccb;
}

.vbtn {
  /* visibility: hidden; */
  width: 25%;
  background: #6b6ef6;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  display: off;
  border: none;
  margin-left: 3px;
}

.vbtn:hover {
  background-color: #bbb;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 270px;
  height: 165px;
  width: 168px;
  position: absolute;
  background: rgb(243, 247, 197);
  /* padding: 30px; */
  background-image: url('images/pokemonBall.jfif');
  color: #7b6969;
  background-position: center;
  border-radius: 50%;

}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 250px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

#my-ul input[type="checkbox"] {
  padding: 10px;
}